a{
    text-decoration: none;
    color: black;
}

a .sub-title{
    color: gray;
}

.main{
    display: flex;
    flex-direction: column;
    width: max-content;
    /* margin:auto - 좌우 여백이 동일하게 맞춰진다. */
    margin: auto;
}

.content{
    /* 자식 태그의 내용만큼 너비를 가지게 */
    width: max-content;
    padding: 0;
}


.content li{
    /* float : 왼쪽, 오른쪽으로 붙여서 정렬 시킬수있다. */
    float: left;
    /* ul, li 태그를 사용하면서 리스트의 점이나 숫자 형식을 지정할수있다. */
    list-style: none;
}

/* content 클래스를 가진 태그의 자식 li 태그의 자식 item-img 클래스를 가진 태그만 스타일을 적용시킨다. 
    li 태그 안쪽으로 자식이면 스타일이 적용된다. */
.content li .item-img{
    width: 290px;
    height: 164px;
    border-radius: 10px;
}

/* 어떤 태그의 자식이든 item-img 클래스를 가지고있는 태그에 스타일을 적용시킨다. */
.item-img{

}

.item{
    width: 290px;
    height: 277px;
    position: relative;
    margin-right: 20px;
}

/* last-child : 마지막 요소 선택자 */
.item:last-child{
    
}

.content li:last-child .item{
    margin-right: 0;
}

/* first-child : 첫번째 요소 선택자 */
.item:first-child{

}

.sub-tag{
    background-color: black;
    color: white;
    display: none;

    font-size: 12px;
    width: 180px;
    text-align: center;

    position: absolute;
    top: 145px;
    left: 110px;
}

/* 가상 선택자 */
/* hover 속성: 마우스가 태그에 올려졌으때 적용 */
/* item 태그에 마우스가 올려졌을때 자식 태그중 sub-tag클래스를 가지고 있는 태그가 스타일이 적용된다. */
.item:hover .sub-tag{
    display: block;
}

.icon{
    position: absolute;
    bottom: 60;
    left: 0;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: url("https://yt3.ggpht.com/ytc/AL5GRJUZaFKfRl6vEF-ui-4R8SyQHmDRqbjQiXIscauVNQ=s68-c-k-c0x00ffffff-no-rj");
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    width: 245px;
    font-size: 14px;
    margin-left: 45px;
    margin-top: 5px;
    /* 줄바꿈 속성을 없애준다. 한줄로 텍스트를 만들어준다. */
    white-space: nowrap;

    /* 부모보다 자식 태그가 넘치면 지워버림 */
    overflow: hidden;
    
    /* 텍스트가 부모 태그의 넓이보다 길어지면 점점점 처리 */
    text-overflow: ellipsis;
}

.sub-title{
    font-size: 12px;
    color: gray;
    margin: -10px 0 0 48px;
}

/* 가상 선택자 */
/* before : 가상 요소를 추가해줄수 있다. */
/* content 속성이 있어야 한다 꼭 */
.sub-title span::before{
    content: "•";
}

/* .sub-title span::after{
    content: "•";
} */